asgiref==3.7.2
cmake==3.27.6
Django==4.2.6
dlib==19.24.2
imutils==0.5.4
numpy==1.26.0
opencv-python==4.8.1.78
Pillow==10.0.1
pytz==2023.3.post1
six==1.16.0
sqlparse==0.4.4
tornado==6.3.3
typing_extensions==4.8.0
